.bg-darkBlue {
  color: #eaeded;
  background-color: #222f3f;
}

.bg-darkGray {
  color: #eaeded;
  background-color: #364759;
}

/* === HEADER === */
#header img {
  width: 10%;
  margin: 10px 30px;
}
.bar {
  list-style: none;
  margin-left: 30px;
}
.bar li {
  display: inline-block;
  padding: 10px;
  margin-right: 10px;
}
.bar li a {
  text-decoration: none;
  color: inherit;
}

/* === MAIN === */

/* ===FOOTER === */
